https://cde.ucr.cjis.gov/LATEST/webapp/#/pages/explorer/crime/crime-trend

In [2]:
import pandas as pd
from pathlib import Path

In [3]:
MIA = pd.read_csv(Path('Resources_Will/MIA_Crime.csv'))
BOS = pd.read_csv(Path('Resources_Will/BOS_Crime.csv'))
PHO = pd.read_csv(Path('Resources_Will/PHO_Crime.csv'))
NYC = pd.read_csv(Path('Resources_Will/NYC_Crime.csv'))
SEA = pd.read_csv(Path('Resources_Will/SEA_Crime.csv'))
LA = pd.read_csv(Path('Resources_Will/LA_Crime.csv'))
HOU = pd.read_csv(Path('Resources_Will/HOU_Crime.csv'))
CHI = pd.read_csv(Path('Resources_Will/CHI_Crime.csv'))

df_list=[MIA, BOS, PHO, NYC, SEA, LA, HOU, CHI]

In [4]:
MIA['series'] = 'MIA'
BOS['series'] = 'BOS'
PHO['series'] = 'PHO'
NYC['series'] = 'NYC'
SEA['series'] = 'SEA'
LA['series'] = 'LA'
HOU['series'] = 'HOU'
CHI['series'] = 'CHI'

In [5]:
remove_cleared = []
for df in df_list:
    df = df.drop(1)
    remove_cleared.append(df)

In [6]:
master = pd.concat(remove_cleared, axis=0)
master_crime = master.set_index('series').T

In [8]:
master_crime = master_crime.rename(columns={'MIA':'MIA_CRIME',
                         'BOS':'BOS_CRIME',
                         'PHO': 'PHO_CRIME',
                         'NYC':'NY_CRIME',
                         'SEA':'SEA_CRIME',
                         'LA':'LA_CRIME',
                         'HOU':'HOU_CRIME',
                         'CHI':'CHI_CRIME'
})

In [10]:
master_crime.reset_index(inplace=True)

In [11]:
master_crime

series,index,MIA_CRIME,BOS_CRIME,PHO_CRIME,NY_CRIME,SEA_CRIME,LA_CRIME,HOU_CRIME,CHI_CRIME
0,1990,15607.0,13664.0,10665.0,174542.0,7780.0,83809.0,22637.0,79121.0
1,1991,15639.0,11829.0,11010.0,170390.0,7221.0,89875.0,26651.0,86945.0
2,1992,13945.0,11672.0,10907.0,159578.0,7327.0,88919.0,24837.0,80467.0
3,1993,14502.0,10843.0,11911.0,153543.0,7437.0,83701.0,25069.0,75787.0
4,1994,12971.0,10664.0,11627.0,136522.0,6538.0,73102.0,22986.0,75233.0
5,1995,12927.0,9569.0,11590.0,115153.0,4904.0,70518.0,22260.0,70115.0
6,1996,11990.0,9154.0,10529.0,98660.0,4543.0,62840.0,22456.0,64746.0
7,1997,11018.0,7886.0,10376.0,92853.0,5002.0,56538.0,21157.0,62565.0
8,1998,9505.0,7427.0,10201.0,85891.0,4475.0,49201.0,20183.0,59930.0
9,1999,7861.0,7263.0,10199.0,78945.0,4166.0,46840.0,21517.0,48878.0
10,2000,7877.0,7322.0,9754.0,75692.0,4333.0,50241.0,21491.0,46521.0
11,2001,7210.0,7361.0,10532.0,68204.0,4150.0,52243.0,23419.0,44632.0
12,2002,7228.0,6956.0,10223.0,63839.0,4092.0,51695.0,24958.0,44022.0
13,2003,7157.0,7173.0,9722.0,59448.0,3944.0,48824.0,23988.0,37684.0
14,2004,6461.0,6917.0,9465.0,55688.0,3798.0,42786.0,23427.0,35106.0
15,2005,6134.0,7479.0,10691.0,54623.0,4109.0,31767.0,23987.0,34355.0
16,2006,5931.0,7533.0,11195.0,52086.0,4152.0,30526.0,24250.0,33776.0
17,2007,6119.0,6837.0,11158.0,50453.0,3667.0,27806.0,24564.0,33292.0
18,2008,5709.0,6676.0,10465.0,48430.0,3447.0,26553.0,24779.0,34195.0
19,2009,4983.0,6192.0,8730.0,46357.0,3861.0,24070.0,25593.0,32062.0
20,2010,4879.0,5819.0,8001.0,48489.0,3515.0,21484.0,22491.0,28402.0
21,2011,4849.0,5252.0,8089.0,51209.0,3664.0,20045.0,20892.0,26814.0
22,2012,4856.0,5266.0,9458.0,52993.0,3782.0,18547.0,21610.0,26248.0
23,2013,4945.0,5037.0,9492.0,52384.0,3760.0,16524.0,20993.0,25688.0
24,2014,4473.0,4749.0,8749.0,50564.0,4005.0,19171.0,22008.0,24133.0
25,2015,4473.0,4702.0,9261.0,50088.0,4090.0,25156.0,21994.0,24698.0
26,2016,3989.0,4767.0,10700.0,49124.0,4301.0,28817.0,23960.0,30193.0
27,2017,3338.0,4570.0,12511.0,46433.0,4470.0,30507.0,25609.0,29737.0
28,2018,2978.0,4324.0,12110.0,46113.0,5026.0,30126.0,24217.0,27420.0
29,2019,2850.0,4265.0,11803.0,47821.0,5000.0,29400.0,25403.0,25553.0
30,2020,2645.0,4354.0,13646.0,47959.0,4832.0,28882.0,29474.0,26583.0
31,2021,NaN,3885.0,NaN,NaN,5869.0,NaN,28325.0,7769.0

In [15]:
master_crime['index']=pd.to_datetime(master_crime['index'])
master_crime = master_crime.set_index('index').resample('M').last().fillna(method='ffill').reset_index()

In [16]:
master_crime

series,index,MIA_CRIME,BOS_CRIME,PHO_CRIME,NY_CRIME,SEA_CRIME,LA_CRIME,HOU_CRIME,CHI_CRIME
0,1990-01-31,15607.0,13664.0,10665.0,174542.0,7780.0,83809.0,22637.0,79121.0
1,1990-02-28,15607.0,13664.0,10665.0,174542.0,7780.0,83809.0,22637.0,79121.0
2,1990-03-31,15607.0,13664.0,10665.0,174542.0,7780.0,83809.0,22637.0,79121.0
3,1990-04-30,15607.0,13664.0,10665.0,174542.0,7780.0,83809.0,22637.0,79121.0
4,1990-05-31,15607.0,13664.0,10665.0,174542.0,7780.0,83809.0,22637.0,79121.0
...,...,...,...,...,...,...,...,...,...
368,2020-09-30,2645.0,4354.0,13646.0,47959.0,4832.0,28882.0,29474.0,26583.0
369,2020-10-31,2645.0,4354.0,13646.0,47959.0,4832.0,28882.0,29474.0,26583.0
370,2020-11-30,2645.0,4354.0,13646.0,47959.0,4832.0,28882.0,29474.0,26583.0
371,2020-12-31,2645.0,4354.0,13646.0,47959.0,4832.0,28882.0,29474.0,26583.0
372,2021-01-31,2645.0,3885.0,13646.0,47959.0,5869.0,28882.0,28325.0,7769.0