All data sourced from: 
https://fred.stlouisfed.org/series/

In [2]:
from pathlib import Path
import pandas as pd

In [3]:
MIA = pd.read_csv(Path('MIA_UR.csv'))
BOS = pd.read_csv(Path('BOS_UR.csv'))
PHO = pd.read_csv(Path('PHO_UR.csv'))
NYC = pd.read_csv(Path('NYC_UR.csv'))
SEA = pd.read_csv(Path('SEA_UR.csv'))
LA = pd.read_csv(Path('LA_UR.csv'))
HOU = pd.read_csv(Path('HOU_UR.csv'))
CHI = pd.read_csv(Path('CHI_UR.csv'))

df_list=[MIA, BOS, PHO, NYC, SEA, LA, HOU, CHI]

In [9]:
df_master = pd.concat(df_list, axis=1)

In [17]:
df_master = df_master.iloc[:,[0,1,3,5,7,9,11,13,15]]

In [18]:
df_master

,DATE,FLMIAM6URN,BOST625URN,PHOE004UR,NEWY636URN,SEAT653URN,LOSA106UR,HOUS448URN,CHIC917URN
0,1990-01-01,7.0,5.3,4.4,5.4,4.8,5.0,5.2,6.9
1,1990-02-01,7.1,5.4,4.4,5.4,4.6,4.9,5.1,6.6
2,1990-03-01,7.3,5.4,4.4,5.1,4.4,4.9,4.8,6.3
3,1990-04-01,7.5,5.3,4.5,4.9,3.7,5.0,4.8,6.5
4,1990-05-01,7.3,5.5,4.5,5.0,3.9,5.0,4.9,6.1
...,...,...,...,...,...,...,...,...,...
396,2023-01-01,2.0,3.6,3.2,4.4,3.9,4.2,4.5,4.7
397,2023-02-01,1.7,3.7,3.1,4.4,3.3,4.3,4.8,4.4
398,2023-03-01,1.8,3.4,3.1,4.1,3.2,4.4,4.4,4.3
399,2023-04-01,1.8,2.2,3.0,3.8,3.0,4.5,3.9,3.4
400,2023-05-01,2.2,2.1,3.1,4.1,3.3,4.6,4.4,3.5

In [20]:
df_master.rename(columns={'FLMIAM6URN':'MIA_UR',
                         'BOST625URN':'BOS_UR',
                         'PHOE004UR': 'PHO_UR',
                         'NEWY636URN':'NY_UR',
                         'SEAT653URN':'SEA_UR',
                         'LOSA106UR':'LA_UR',
                         'HOUS448URN':'HOU_UR',
                         'CHIC917URN':'CHI_UR'}, inplace=True)

/var/folders/6h/qf6v8cvn7cg94dskql49_0c00000gn/T/ipykernel_6700/1095403868.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_master.rename(columns={'FLMIAM6URN':'MIA_UR',

In [21]:
df_master

           DATE  MIA_UR  BOS_UR  PHO_UR  NY_UR  SEA_UR  LA_UR  HOU_UR  CHI_UR
0    1990-01-01     7.0     5.3     4.4    5.4     4.8    5.0     5.2     6.9
1    1990-02-01     7.1     5.4     4.4    5.4     4.6    4.9     5.1     6.6
2    1990-03-01     7.3     5.4     4.4    5.1     4.4    4.9     4.8     6.3
3    1990-04-01     7.5     5.3     4.5    4.9     3.7    5.0     4.8     6.5
4    1990-05-01     7.3     5.5     4.5    5.0     3.9    5.0     4.9     6.1
..          ...     ...     ...     ...    ...     ...    ...     ...     ...
396  2023-01-01     2.0     3.6     3.2    4.4     3.9    4.2     4.5     4.7
397  2023-02-01     1.7     3.7     3.1    4.4     3.3    4.3     4.8     4.4
398  2023-03-01     1.8     3.4     3.1    4.1     3.2    4.4     4.4     4.3
399  2023-04-01     1.8     2.2     3.0    3.8     3.0    4.5     3.9     3.4
400  2023-05-01     2.2     2.1     3.1    4.1     3.3    4.6     4.4     3.5

[401 rows x 9 columns]